@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
 
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

.site {
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;  
}


.site__main {
  width:70%;
  display: flex;
  background-color:rgba(255, 0, 0, 0.3);
  
  flex-direction:row;
  align-items: flex-start;
  justify-content: center;
}

.site__right-sidebar {     
   position: fixed;
   background-color: rgba(196, 204, 218, 1);
   height: 100%;
   width:30%;
}

.site__left-sidebar {
  width: 170px;
  position:fixed;
}

.site__content {
  padding-left: 170px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.site__right-sidebar .checkout {
  flex-grow: 0;
  flex-basis: auto;
  align-self: stretch;
}

.site__right-sidebar .cart {
  flex-grow: 1;
  flex-basis: 0;
  align-self: stretch;
  overflow:scroll;
}

.checkout {
  height: 300px;
  background: rgba(0,0,255,0.3);
}

.products {
   flex-direction:row;
   align-items: flex-start;
   justify-content: center;
   flex-wrap: wrap;
}

.product {
  width: 50%;
  background-color: rgba(0, 255, 0, 0.3);
}

.product__display {
  margin: 10px;
  background-color:rgba(255, 255, 255, 1);
  border: 3px solid rgba(216, 216, 216, 1);
}

.product__img {
  width:100%;
}

.product__price {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
}

.product__add {
  padding-top: 10px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.product__add__icon {
  width:60px;
  height:60px;
  background-color:rgba(216, 216, 216, 1);
  border-radius: 30px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
 
.product__description {
  padding-top: 10px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;  
  padding-left: 10px;
}

.product__name {
  flex-grow: 1;
  flex-basis: 0;
}

.product__heart {
  flex-grow: 0;
  flex-basis: 20%;
  align-self: center;
}

.cart-item {
  margin: 10px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.cart-item__top-part {
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.cart-item_image-container {
  width:33%;
}
.cart-item__image {
  width:100%;
}

.cart-item__top-part__middle {
  flex-grow: 1;
  
  padding-left: 20px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.cart-item__qty {
  width:33%;
  padding-top: 10px;
}

.adjust-qty {
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
}

.adjust-qty__button {
  width:20px;
  height: 20px;
  background-color: rgba(247, 248, 250, 1);
  border-radius: 10px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.adjust-qty__number {
  padding-left: 10px;
  padding-right: 10px;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
